<div class="container mt-3">
    <div class="row">
        <div class="col-md-8">
            <h2 class="fw-bold text-danger"><i class="bi bi-person-badge-fill"></i> Detail Member</h2>
            <% if (!member) { %>
              <div class="alert alert-danger animate__animated animate__fadeIn" role="alert">
                <i class="bi bi-x-circle-fill"></i> Nama member tidak ditemukan
                <a href="/member" class="alert-link">&laquo; Back to Member</a>
              </div>
            <% } else { %>
              <div class="card shadow-lg animate__animated animate__fadeIn" style="width: 22rem;">
                  <div class="card-body">
                    <h5 class="card-title text-danger"><i class="bi bi-person-circle"></i> <%= member.nama %></h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary"><i class="bi bi-calendar-heart"></i> <%= member.umur %> tahun</h6>
                    <p class="card-text"><i class="bi bi-telephone-fill"></i> <%= member.nohp %></p>
                    <p class="card-text"><i class="bi bi-envelope-fill"></i> <%= member.email %></p>
                    <a href="/member/edit/<%= member.nama %>" class="btn btn-info btn-sm"><i class="bi bi-pencil-square"></i> Edit</a>
                    <form action="/member?_method=DELETE" method="POST" class="d-inline">
                      <input type="hidden" name="_id" value="<%= member._id %>">
                      <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure kak?')"><i class="bi bi-trash-fill"></i> Hapus</button>
                    </form>
                    <a href="/member" class="card-link d-block mt-3 btn btn-dark btn-sm">&laquo; Back</a>
                  </div>
                </div>
            <% } %> 
        </div>
    </div>
</div>
